/* ///////////////////
// na podstawie szablonu
// http://themes.g5plus.net/april/home-01/
//////////////////////*/

body{
    background-color: #f8f8f8;
    text-decoration: none;
    text-transform: none;

}

.nav-menu-container{
    display: flex;
    justify-content: flex-start;
    padding: 50px;    
}

nav ul{
    display: flex;
    justify-content: flex-start; 
    font-size: ;
    list-style-type: none;
}

nav li{
    display: inline;
    font-size: 20px;
    text-decoration: none;
    padding-right: 50px;
}

li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    justify-content: center;

}

li a:hover{
    text-decoration: underline;
    color: crimson;
}