* { box-sizing: border-box }

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f2f2f0;
    text-decoration: none;
    text-transform: none;
    padding: 0 100px;
    margin: 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 80px auto;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "header header header"
    ". shop-navigation shop-navigation"
    "aside product-gallery product-gallery"
    ;
}
/* SECTION SHOP NAVIGATION */

.shop-navigation{
    grid-area: shop-navigation;
}

.shop-navigation-products{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 50px;
}
.shop-navigation-products li{

}
.shop-navigation-products li:nth-child(n+2){
    margin-left: 50px;
}
.shop-navigation-products a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(105, 105, 105);
    color: #ababab;
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    border-bottom: 2px solid transparent;


}

.shop-navigation-products a:hover{
    color: #333;
    border-bottom: 2px solid #333;
}

.shop-navigation-products a:active{
    color: #333;
    border-bottom: 2px solid #333;
}
/* SECTION ASIDE */

.aside{
    grid-area: aside;
}

.product-gallery{
    grid-area: product-gallery;

}

.container-product-grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
}