* { box-sizing: border-box }

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f2f2f0;
    text-decoration: none;
    text-transform: none;
    padding: 0 100px;
    margin: 0px;
}

img{
    width: 100%;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
   
   /* grid-template-rows: 80px 80px auto auto; */
    grid-template-rows: 80px auto 80px auto;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "header header header"
    "banner-content banner-content banner-content"
    ". shop-navigation shop-navigation"
    "aside product-gallery product-gallery"
    ;
}

/* SECTION HEADER + HEADER MENU*/

.header{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.header-logo{
    max-width: 80px;
}

.menu{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px 0px 0px 30px;
    position: relative;
}
.menu li{
    float: left;
    list-style: none;
    margin: 10px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-weight: bolder; 
    width: auto;
}

.menu li:hover a{
    text-decoration: underline;
}

.menu li ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 100;
    display: none;
    background-color: #fafaf5;
    

}
.menu li:hover ul{
    display: block;
}
.menu li ul li {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
}
.menu li ul li a{
    width: 100%;
}


nav ul{
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;

}
.page-navigation li{
    margin-right: 30px;
    letter-spacing: 1,4px;
}


   
/* SECTION SHOP NAVIGATION */

.shop-navigation{
    grid-area: shop-navigation;
}

.shop-navigation-products{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 50px;
    cursor: pointer;
}
.shop-navigation-products li{

}
.shop-navigation-products li:nth-child(n+2){
    margin-left: 50px;
}
.shop-navigation-products a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(105, 105, 105);
    color: #ababab;
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    border-bottom: 2px solid transparent;.
}

.shop-navigation-products a:hover{
    color: #333;
    border-bottom: 2px solid #333;
}

.shop-navigation-products a:active{
    color: #333;
    border-bottom: 2px solid #333;
}

.shop-navigation-makijaz:hover{

}
.active{
    color: #333;
    border-bottom: 2px solid #333;
}
/* SECTION ASIDE */

.aside{
    grid-area: aside;
    justify-content: center;
}

.aside-title{
    display: grid;
    justify-content: center;
    font-size: 80px;
    line-height: 80px;
    width: fit-content;
    color: #333;
    margin: 0px auto;
    padding: 0px;
    border-bottom: 5px solid #333;  
}
.aside-baner-container{
    position: relative;
}

.baner-aside{
    padding: 80px 15px 0px 15px;
    width: 100%;    
}

.aside-button{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 16px 35px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 0.7px;
    text-decoration: 0;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.aside-button:hover{
    background-color: transparent;
    color: #fff;
}

/* SECTION PRODUCTS */

.product-gallery{
    grid-area: product-gallery;
    padding-left: 70px;
    text-align: center;
}

.container-product-grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    padding: 0px 15px;
}

.product-grid{
    padding: 0px 15px 30px 15px;
}

.product-info{
    padding-top: 18px;
    margin: 0px 0px 5px 0px;
    color: #696969;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.product-info:hover{
    color: #f76b6a;
}

.product-price{
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin: 0px;
}
.product-price-regular{
    text-decoration: line-through;
}
.product-price-sale{
    color: #f76b6a;
}

/* SECTION BANNER CONTENT */

.banner-content{
    grid-area: banner-content;
    position: relative;
    margin-top: 20px;
}


.banner-content-img{

}
/*
.banner-content:hover {
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.3);
}
*/
.banner-content-h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -20%, 0);
    list-style: none;
    font-size: 56px;
    font-weight: 800;
}

.banner-content-h2 a{
    text-decoration: none;
    color: rgb(247, 107, 106);
    cursor: pointer;


}
.banner-content-p a{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate3d(-50%, -70%, 0);
    text-decoration: none;
    text-transform: none;
    list-style: none;
    color: #333;
    font-size: 24px;
    font-weight: 800;
    height: 22px;
    letter-spacing: 1.2px;
    line-height: 21.6px;
    border-bottom: 1px solid rgb(51, 51, 51);
    cursor: pointer;
    

}