* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'optima';
    src: url('./fonts/OptimaLTCYR-Roman.otf');
  }
 
  @font-face {
    font-family: 'optima-bold';
    src: url('./fonts/OptimaLTCYR-Bold.otf');
  }

body {
    background-color: #f7f3ee;
    color: #959595;
    font-family: optima, sans-serif;
    margin: 0 5%;
}

h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 50px;
    font-family: optima-bold, sans-serif;
}
.proces-description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 200px;

}


.expanding-map {
    /* width: 100%; */
}
.map-layout{
    margin: 0 auto;
    /* width: 100%; */

}
.cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardContent__wrapper {
    margin-top: 20px;
width: 30%;
    }

.cardContainer {
  
}
.card__layout {
position: relative;
}

.card__pick {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate3d(-50%, -20%, 0);
}

.displayCardName {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate3d(-50%, -10%, 0);
}


.card__back{
    border-radius: 4.5%;
    border: 2px dashed rgb(17, 17, 17);
    width: 100%;
	height: auto;
    
    object-fit: cover;
    
}

.card__caption {
    text-align: center;
}
.cardContent__outside {
    display: inline-block;
    padding: 10px 0 0 0;
    font-family: optima, sans-serif;
    columns: #333;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 800;
}