* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'optima';
    src: url('./fonts/OptimaLTCYR-Roman.otf');
  }
 
  @font-face {
    font-family: 'optima-bold';
    src: url('./fonts/OptimaLTCYR-Bold.otf');
  }

body {
    background-color: #f7f3ee;
    color: #959595;
    font-family: optima, sans-serif;
}

h1 {
    font-family: optima-bold, sans-serif;

}





.cardContainer {
    max-width: 816px;
    max-height: 630px;
}
.card__layout {
display: block;
position: relative;
}

.card__pick {
    position: absolute;
    bottom: 20%;
    left: 38%;
    transform: translate3d(-38%, -20%, 0);
}


.card__back{
    display: block;
    border-radius: 4.5%;
    border: 2px dashed rgb(17, 17, 17);
}

.card__caption {
    text-align: center;
}
.cardContent__outside {
    display: inline-block;
    padding: 10px 0 0 0;
    font-family: optima, sans-serif;
    columns: #333;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 800;
}